:root{
--text: #010B13;
--background: #FEFFFE;
--accent: #8AB9F1;
  width: 100vw;
  height: 100vh;
}
/*:root-dark{
--text: #d9dcd6;
--background: #0e1415;
--primary: #05232b;
--secondary: #4973C7;
--accent: #c7c6c6;
}*/
/*.lightmode{
--text: #262923;
--background: #eaf0f1;
--primary: #bfd3f8;
--secondary: #bfd3f8;
--accent: #393838;
}*/
*:hover{
 cursor: pointer;
}
body{
  width: 100vw;
  height: 100vh;
  font-family: 'Inter';
  background-color: var(--background);
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Merriweather';
  color: var(--text);
}